@charset "UTF8";

body {
    background-color: rgb(82, 194, 157);
    
}
h1 {
    color:  rgb(28, 44, 116);
    text-align: center;
    

}
h1#principal {
    background-color: rgba(97, 245, 97, 0.308);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

} 
h2 {
    color:rgb(55, 35, 236);
    text-decoration: underline;
    
}
p {
    text-align: justify;
}
.basico {
color: rgb(24, 83, 24);
}
.intermediario {
color: rgb(83, 82, 24);
}
.avancado {
color: rgb(83, 24, 24);
}
.destaque {
    background-color:  rgb(103, 252, 3);
}
